# Data Science Tools and Ecosystem

## In this Notebook, Data Science Tools and Ecosystem are summarized.

## Author 
Sarvesh Kannan 

The primary objective of this notebook is that it can help us to learn more about the data science tools and get a good grasp of it 
**Objectives**
- this list contains a list of the data science libraries
- a list of commonly used softwares for data science
- a list of tools that are used for data science
- basic arithmetics with math

### Some of the commonly used libraries that Data Scientists include:
1. Python Pandas
2. Matplotlib
3. seaborn
4. R
5. Sk learn
6. tensorflow
7. pytorch

### Some of the Commonly used languages that Data Scientists include:
1. Python
2. R
3. Scala

### Data Science Tools

| Data Science Tools    |
|-----------------------|
| Python                |
| R                     |
| SQL                   |
| Hadoop                |
| Apache Spark          |
| TensorFlow            |
| Keras                 |
| PyTorch               |
| Jupyter Notebook      |
| Tableau               |
| Power BI              |
| Microsoft Excel       |
| SAS                   |
| MATLAB                |

### Below are a few examples of evaluating Arithmetic expressions in python

In [13]:
(3*4)+5

17

In [16]:
200/60

3.3333333333333335